body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.completed {
  text-decoration: line-through;
}

h2 {
  font-family: 'Anonymous Pro', monospace;

}

div.quote-card {
  width: 50%;
  box-shadow: 5px 10px 10px 1px #474242;

}

p.quote {
    font-family: 'Anonymous Pro', monospace;

}